@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: none;
}
a {
    outline: 0;
    text-decoration: none;
    color: inherit;
}

html, body {
    margin: 0;
    padding: 0;
}
h1 {
    position: fixed;
    top: 0px;
    left: 50px;
    z-index: 100;
}

h1 a {
    display: block;
}


.main-site-warp {
    height: 100%;
    height: 100%;
    position: relative;
    display: none;
}
.main-site-warp.push-side {
    overflow: hidden;
}
.main-site-warp.push-side .header-section {
    -webkit-transform: translateX(-614px);
    transform: translateX(-614px);
}
.main-site-warp.push-side .site-content-warp {
    -webkit-transform: translateX(-614px);
    transform: translateX(-614px);
}
.main-site-warp.push-side .site-menu-warp {
    right: 0;
}
.main-site-warp.push-side .nav-switch {
    opacity: 0;
    visibility: hidden;
}
body.push-side {
    overflow: hidden;
}

.site-menu-warp {
    position: fixed;
    width: 500px;
    height: 100%;
    right: 0px;
    top: 0;
    background-color: #242424;
    overflow-y: auto;
    z-index: 150;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    
}
.close-menu {
    font-size: 60px;
    color: #fff;
    margin-left: 400px;
    padding-top: 42px;
    cursor: pointer;
    
}
.site-menu {
    list-style: none;
    padding-left: 185px;
    padding-top: 160px;
}
.site-menu li {
    display: block;
}
.site-menu li a {
    display: block;
    font-size: 30px;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 20px;
    position: relative;
}
.site-menu li a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    background: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.site-menu li a:hover::after,
.site-menu li a.active::after {
    width: 30px;
}
.menu-social {
    padding-left: 130px;
    padding-top: 50px;
}
.menu-social a {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin-right: 20px;
    padding: 5px;
    margin-bottom: 20px;
}

.header-section {
    position: absolute;
    width: 100%;
    top: 0;
    right: 400px;
    overflow: hidden;
    padding: 27px 45px;
    z-index: 999;
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.nav-switch {
    float: right;
    font-size: 28px;
    color: #333;
    line-height: 0;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
.header-menu {
    float: right;
}
.header-menu a {
    display: inline-block;
    color: #333;
    font-size: 18px;
    margin-right: 30px;
    padding: 5px;
}

.wrapper {
    margin: 0 auto;
    width: 1280px;
}

.all .all_1 ul {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 180px;
}
.all .all_1 ul li {
    margin-right: 20px;
}
.all .all_1 ul li.active {
    text-decoration: underline;
}
.all .all_1 ul li a {
    display: block;
    font-weight: 700;
}
.all .all_1 ul li a:hover {
    color: #45eb98;
}

.all .inner {
}
.all .inner ul {
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    
}
.all .inner ul li {
    margin-right: 30px;
    padding: 20px 0 20px 0;
}
.all .inner ul li a {
    display: block;
    margin-bottom: 10px;
}
.all .inner ul li a p {
    margin-bottom: 5px;
    text-align: center;
}
.all .inner ul li span {
    background-color: #333;
    color: #fff;
    display: inline-block;
    margin-left: 100px;
    font-size: 12px;
    padding: 5px;
}

.all .more {
    margin-top: 20px;
    text-align: center;

}
.all .more a {
    display: inline-block;
    background-color: #45eb98;
    padding: 8px 10px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 700;
}
.all .more a:hover {
    opacity: 0.8;
    color: #333;
}

footer {
    color: #999;
    background-color: #333;
    width: 100%;
    height: 160px;
    display: flex;
    padding: 10px;
}
footer h4 {
    margin: 20px 0 0 50px;
    opacity: 0.6;
    width: 22%;
}
footer .footer1 {
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 100px;
}
footer .footer2 {
    margin-top: 20px;
}
footer a {
    font-weight: 700;
}