@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
a {
    color: inherit; 
    text-decoration: none;
}
em, address {
    font-style: normal;
}
ul, ol, li {
    list-style: none;
}
button {
    background-color: transparent; 
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    cursor: pointer; 
}

html, body {
    color: #fff;
    line-height: 1.5;
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    font-size: 15px;
    font-weight: 400;
    word-break: keep-all; 
}
#wrap { 
    overflow: hidden;
    position: relative;
    min-width: 1400px;
    background-color: #333333;
}

.wrapper {
    width: 1400px;
    margin: 0 auto;
}
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

.cnt_wrap {
    position: relative;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100; 
    width: 100%;
    height: 100px;
    color: #fff;
    background-color: #f08229;

}
.header .logo {
    position: absolute;
    left: 350px;
    top: 29px;
    z-index: 103;
}
.header .logo a {
    display: block;
    width: 150px;
    height: 50px;
    background-image: url(../images/로고.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    font-size: 0;
    line-height: 0;
}
.header .gnb {
    position: relative;
    z-index: 102;
}
.header .gnb > ul {

    display: flex;
    justify-content: center; 
    margin: 5px 5px 0 0;
}
.header .gnb > ul > li {
    position: relative;
    width: 150px;
    text-align: center;
}
.header .gnb > ul > li > a {
    display: block;
    font-size: 20px;
    line-height: 95px;
}
.header .gnb > ul > li.now > a {
    font-weight: 700;
}
.header .gnb > ul > li:hover > a {
    color: #f08229 !important;
    font-weight: 700;
}
.header .gnb > ul > li:hover > a > span {
    position: relative;
}
.header .gnb > ul > li:hover > a > span::after {
    position: absolute;
    left: 0;
    bottom: -34px;
    width: 100%;
    height: 2px;
    background-color: #f08229;
    content: "";
}
.header .gnb > ul > li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 95px;
    width: 100%;
    height: 255px;
    padding: 14px 0 0 0;
}

.header .gnb > ul > li > ul > li > a {
    display: block;
    line-height: 36px;
}
.header .gnb > ul > li > ul > li > a:hover, 
.header .gnb > ul > li > ul > li.now > a {
    color: #f08229;
    font-weight: 700;
}
.header .lang {
    position: absolute;
    right: 20px;
    top: 34px;
    z-index: 103;
}
.header .lang button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 116px;
    height: 36px;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 18px;
}
.header .lang button i {
    color: rgba(255,255,255,0.6);
    font-size: 18px;
}
.header .lang .close {
    display: none;
}
.header .lang ul {
    display: none;
    position: absolute;
    left: 0;
    top: 36px;
    width: 116px;
    height: 81px;
    border-radius: 18px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    color: #3D3D3D;
    text-align: center;
}
.header .lang ul li:first-child {
    margin: 8px 0 0 0;
}
.header .lang ul li a {
    display: block;
    line-height: 2;
}
.header .lang ul li a:hover, 
.header .lang ul li.active a {
    color: #f08229;
    font-weight: 700;
}

.header .lang.lang_open ul {
    display: block;
}
.header .lang.lang_open .open {
    display: none;
}
.header .lang.lang_open .close {
    display: flex;
}

.header.menu_open {
    color: #3D3D3D;
}
.header.menu_open::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    width: 100%;
    height: 386px;
    background-color: #FFF;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    content: "";
}
.header.menu_open::after {
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 101;
    width: 100%;
    height: 1px;
    background-color: #EDEDED;
    content: "";
}
.header.menu_open .logo a {    
    background-image: url(../images/로고.png);
}
.header.menu_open .gnb > ul > li > a {
    color: #1D1D1D;
}
.header.menu_open .gnb > ul > li > ul {
    display: block; 
}
.header.menu_open .lang button {
    border: 1px solid #666;
}
.header.menu_open .lang button i {
    color: #666;
}

.visual {
    position: relative;
}
.visual .txt {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-640px, -50%);
    width: 1000px;
    color: #fff;
}
.visual .txt p {
    font-size: 30px;
}
.visual .txt h2 {
    padding: 0 0 35px 0;
    font-size: 100px;
    font-weight: 700px;
    line-height: 1;
}
.visual .txt a {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 50px;
    background-color: rgba(255,255,255,0.1);
    border: 4px solid #f08229;
    margin-left: 10px;
    transition: all 0.3s;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.visual .txt a:hover {
    background-color: rgba(255,255,255,0.3);
}
.visual .popup {
    height: 100%;
}
.visual .popup .swiper-slide {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.visual .popup .pop01 {
    background-image: url(../images/pop01.jpg);
}
.visual .popup .pop02 {
    background-image: url(../images/pop02.jpg);
}
.visual .popup .pop03 {
    background-image: url(../images/pop03.jpg);
}
.visual .popup .swiper-paginnation-bullet {
    width: 15%;
    height: 15px;
    border: 2px solid #fff;
    background-color: transparent;
    opacity: 1;
}
.visual .popup .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fff;
}

.banner {
    margin: 80px 0 150px 0;
    padding: 30px;
}
.banner h2 {
    float: left;
    font-size: 50px;
    margin-right: 100px;
}
.banner .inner {
    float: left;
    margin-top: -40px;
}
.banner .inner p {
    font-size: 30px;
}
.banner .inner a {
    display: block;
    border: 2px solid #f08229;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.gallery {
    padding-top: 150px;
}
.gallery .inner {
    float: left;
    margin-right: 250px;
    text-align: center;
    padding: 30px;
}
.gallery .inner h2 {
    font-size: 50px;
    margin-bottom: 20px;

    font-weight: 700;
}
.gallery .inner p {
    font-size: 30px;
    margin-bottom: 10px;
}
.gallery .inner span {
    font-size: 18px;
}
.gallery .inner a {
    display: block;
    border: 2px solid #f08229;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}


.gallery .im img {
    width: 600px;
    height: 400px;
}

.online {
    margin-top: 100px;
}
.online .onim {
    float: left;
    margin-right: 100px;
}
.online .onim h2 {
    font-size: 50px;
    margin-bottom: 20px;
}
.online .inner {
    padding-top: 200px;
}
.online .inner p {
    font-size: 30px;
}
.online .inner a {
    display: inline-block;
    border: 2px solid #f08229;
    padding: 20px 80px;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

footer {
    margin-top: 150px;
    background-color: #eee;
    color: #333;
    padding-bottom: 50px;
}
footer .inner {
    position: relative;
}
footer .finfo {
    float: left;
    padding: 25px 0;
}
footer .finfo .fnav li {
    float: left;
}
footer .finfo .fnav li a {
    display: block;
    padding: 0 14px;
}
footer .finfo .fnav li:first-child a {
    padding-left: 0;
}
footer .finfo .fnav li.privacy a {
    font-weight: 700;
}
footer .finfo .fnav li a:hover {
    text-decoration: underline;
}
footer .tel {
    float: left;
    padding: 25px 0 25px 150px;
}
footer .sns {
    height: 70px;
    border-bottom: 1px solid rgba(0,0,0,0.8);
}
footer .sns ul {
    float: right;
    margin: 21px 0 0 0;
}
footer .sns ul li {
    float: left;
    margin: 0 5px 0 0;
}
footer .sns ul li:last-child {
    margin-right: 0;
}
footer .sns ul li a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.6);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 19px auto;
    font-size: 0;
    line-height: 0;
}
footer .sns ul li.facebook a {
    background-image: url(../images/sns_facebook.svg);
}
footer .sns ul li.insta a {
    background-image: url(../images/sns_insta.svg);
}
footer .sns ul li.youtube a {
    background-image: url(../images/sns_youtube.svg);
}
footer .info {
    margin: 19px 0 5px 0;
}
footer .info span {
    display: inline-block;
}
footer .flogo {
    position: absolute;
    right: 0;
    top: 80px;
    font-size: 50px;
    font-weight: 700;
}
